<a href="https://colab.research.google.com/github/richherr/datascience/blob/master/GettingStarted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Everything in Python (as in R) is an object:  booleans, integers, floats, strings, functions, programs
# Think of an object as a container or box  
# Scalar assignment to the variable x  
# Can't assign names beginning with numbers;  Beginning with "_" has special usage 
# The following are reserved words and connot be used: 
#    False,	class, finally,	is,	return, None,	continue,	for,	lambda,	try, 
#    True,	def,	from,	nonlocal,	while, and,	del,	global,	not,	with, as,
#    elif, if,	or,	yield, assert,	else,	import,	pass, break,	except,	in,	raise 
x = 2
print(x)

2

In [0]:
# A "class" is a definition for an object;  think of types as class definitions
# Type is integer
type(x)

int

In [0]:
# Type is floating point

In [2]:
type(2.2)

float

In [7]:
# Type is string
type("rich")

str

In [14]:
#  Addition;  Subtraction; Multiplication; floating point division; integer division; 
#  modulus (remainder); eponentiation
# Don't need spaces but does make for better readability
print(5 + 3)
print(5 - 3)
print(5 * 3)
print(5/3)
print(5//3) 
print(5%3)
print(5**3)

8
2
15
1.6666666666666667
1
2
125

In [0]:
# All sequences of digits are assumed to be integer 
# Place negative in front of digit to define negative number
# Dividing by 0 causes error

In [17]:
print(5)
print(-3.2)
print(5/0)

5
-3.2

ZeroDivisionError: ignored

In [20]:
# Changing value of a variable
x = 2
x = x - 1
print(x)

1

In [0]:
# Can assign prior assigned variable to new variable

In [21]:
y = x
print(y)

1

In [0]:
Can combine arithmetic operators and assignment

In [25]:
x = 2
x -= 1
print(x)
x = 2 
x += 1
print(x)
x = 2
x /= 2
print(x)

1
3
1.0